 <!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Nebojša Koturović - Home</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="styles/common.css">
<link rel="stylesheet" href="styles/index.css">
<link rel="stylesheet" href="styles/nav.css">
<body>
<header class="header">
  <a href="index.html" class="logo">kotur<span class="logo-blue-part">.me</span></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="blog.html">Blog</a></li>
  </ul>
</header>
<div class="main">
<div class="content">
<div class="center-text">
 <h1>Hi, my name is Nebojša</h1>
 <img class="avatar center" src="img/avatar.jpg"/>
 <h2>I'm a software developer</h2>
 Sometimes I write some <a href="blog.html">blog</a> posts
 <h2><a href="files/Nebojsa-Koturovic-Software-Developer-Resume.pdf">⇩ Resume</a></h2>
</div>
</div>
</div>
</body>
</html> 
