.post-item {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.post-item h2 {
  font-size: 1.25em;
  padding: 0.05em;
  margin: 0.05em;
}

.post-item p {
  font-size: 0.94em;
  padding: 0.05em;
  margin: 0.05em;
}
