.avatar {
  width: 15em;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}


#index-content {
    margin-top: 7vh;
}

@media screen and (min-width: 1920px) {
    .avatar {
        max-width: 330px;
    }
}


