:root {
    --header-bg: #f7f8f8;
    --header-text: #222;
    --header-border: #d4d7d9;
    --header-alt-bg: #dedede;
    --header-alt-text: #111;
    --logo-color: #144ad6;
    --logo-color-hover: #3440e6;
}


/* header */
.header {
  background-color: var(--header-bg);
  /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 3;
  display: inline-block;
  width: 100%;
  color: var(--header-text);
  font-weight: 600;
  border-bottom: 1px solid var(--header-border);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--header-bg);
}

.header li a {
  display: block;
  padding: 15px 25px;
  border-right: 1px solid var(--header-bg);
  text-decoration: none;
  color: var(--header-text)
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--header-alt-bg);
  color: var(--header-alt-text);
  text-decoration: none;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.8em;
  margin-left: 10px;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  color: var(--header-text);
}

.header .logo:hover {
    text-decoration: none;
    color: var(--header-alt-text);
}

.header .logo .logo-blue-part {
    color: var(--logo-color);
}

.header .logo:hover .logo-blue-part {
    color: var(--logo-color-hover);
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 25px;
  position: relative;
  user-select: none;
}

.header .menu-icon:hover {
    color: var(--header-alt-text);
    /* background-color: #333; */
}

.header .menu-icon .navicon {
  background: var(--header-text);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--header-text);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 35px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.nav-svg {
    width: 1.1em;
    height: 1.1em;
    transform: translate(-0.6em, 0.15em);
    filter: var(--nvg-svg-filter);
}

.nav-option {
    display: none;
}

li:hover .svg-icon {
    filter: var(--nvg-svg-filter-hover);
}

@media print {
      /* .logo-container, */
      /* .img-wrapper, */
      img {
        max-width: none !important;
        width: 88% !important;
     }
     .header {
         display: none
     }
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg: #1a1b23;
    --header-border: #343434;
    --header-text: #ccc;
    --header-alt-bg: #2b2c34;
    --header-alt-text: #eee;
    --logo-color: #1e8ad6;
    --logo-color-hover: #3ba0e6;
    --nvg-svg-filter: invert(0.9);
    --nvg-svg-filter-hover: invert(0.9);
  }
}
